/* Place custom styles here, scoped by the CSS id '#book' */
/* To sync up PDF styles, edit custom.sty */
/* Google for "LaTeX style files" to learn how to use custom.sty */

/*

body #book {
  background: green;
}

#book p {
  color: purple;
}

*/

body #book pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}